.play-title {
    font-size: 1.5em;
    //font-family: 'DotGothic16', sans-serif;
    padding: 1rem;
    padding-left: 0;
}

.playContainer {
    @media (min-width: 994px) {
        background: repeating-radial-gradient(circle at top left, rgba(172, 57, 138, 0.6), rgba(172, 57, 138, 0.6) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), repeating-radial-gradient(circle at top right, rgba(206, 214, 67, 0.6), rgba(206, 214, 67, 0.6) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), repeating-radial-gradient(circle at bottom right, rgba(79, 170, 227, 0.6), rgba(79, 170, 227, 0.6) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), repeating-radial-gradient(circle at bottom left, rgba(87, 30, 128, 0.6), rgba(87, 30, 128, 0.6) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), white;
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-position: right top;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 2rem;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: border-box;

    &.de-emphasized {
        filter: opacity(0.2);
    }
}

@media (max-width: 993px) {
    .playContainer {
        position: relative;
        width: 100vw;
        grid-template-columns: 1fr;
        padding-top: 2rem;
        z-index: 0;
    }

    .playBack {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        width: 100%;
        height: 100vh;
        background: repeating-radial-gradient(circle at top left, rgba(172, 57, 138, 0.3), rgba(172, 57, 138, 0.3) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), repeating-radial-gradient(circle at top right, rgba(206, 214, 67, 0.3), rgba(206, 214, 67, 0.3) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), repeating-radial-gradient(circle at bottom right, rgba(79, 170, 227, 0.3), rgba(79, 170, 227, 0.3) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em), repeating-radial-gradient(circle at bottom left, rgba(87, 30, 128, 0.3), rgba(87, 30, 128, 0.3) 4em, rgba(255, 255, 255, 0) 4em, rgba(255, 255, 255, 0) 15em);
    }
}

.playContainer > .breadcrumbs {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

.playNavSelect {
    font-family: 'Megrim', cursive;
    font-size: 1.5em;
    width: 20vw;
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;

    dt {
        padding: 1rem;
        background: #591d81;
        cursor: pointer;
        color: white;
        position: relative;
        z-index: 1;

        i {
            position: absolute;
            right: 1rem;

            &.fa-sort-up {
                bottom: 0.5em;
            }

            &.fa-sort-down {
                bottom: 0.75em;
            }
        }
    }

    dd div {
        // チラつき防止
        perspective: 1000;
        backface-visibility: hidden;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        transform-style: preserve-3d;

        & * {
            transform: translate3d(0, 0, 0);
        }
    }

    a {
        background: #01a2e3;
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        display: block;

        &:hover {
            background: rgba($color: #591d81, $alpha: 0.75);
        }

        &.noExist {
            pointer-events: none;

            &::after {
                content: ' ※準備中';
                color: silver;
                font-size: 1rem;
            }

            &:hover {
                background: #01a2e3;
            }
        }
    }
}

.playMovie {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    width: 50vw;

    .playMovieInner {
        position: relative;
        padding-bottom: calc(315 / 560 * 100%);

        & > iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
        }
    }
}

.MovieNoExist {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    width: 50vw;
    padding: 2em;
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);

    &_container {
        font-weight: bold;
        color: rgba(255, 255, 255, 0);
        background: rgba(255, 255, 255, 0);
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.6), 1px 1px 2px rgba(255, 255, 255, 0.3);
        background-clip: text;
        font-family: 'DotGothic16', sans-serif;
        text-align: center;
        line-height: 1.5em;
        font-size: 1.5em;
    }
}

.technique, .questionForm, .buyScore {
    width: 50vw;
    padding: 2em;
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);
    justify-self: center;
    align-self: center;

    p {
        padding: 1rem;
        line-height: 1.5em;
    }
}

.buyScore {
    grid-column: 1 / -1;
    background: linear-gradient(to bottom, #37A5FB, #0083EA);
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);

    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.technique {
    grid-column: 1 / -1;

    img {
        width: 100%;
        height: auto;
    }
}

.questionForm {
    grid-column: 1 / -1;

    h2 {
        padding-bottom: 0;
        word-break: keep-all;
    }
}

.playContainer .credit {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    color: gray;
    font-size: .4em;
    text-align: right;
    line-height: 1.2rem;
}

@media (max-width: 993px) {
    .playNavSelect {
        grid-column: 1;
        grid-row: 2;
        width: 80vw;
    }

    .playMovie {
        grid-column: 1;
        width: 80vw;
    }

    .MovieNoExist {
        width: 80vw;
        padding: 1em;
    }

    .buyScore {
        grid-column: 1;
        width: 80vw;
        padding: 1em;
    }

    .technique {
        grid-column: 1;
        width: 80vw;
        padding: 1em;
    }

    .questionForm {
        grid-column: 1;
        width: 80vw;
        padding: 1em;
    }

    .play-title {
        padding: 0;
        font-size: 1.25em;
    }
}
